#root{
    display: flex;
    justify-content: center;
    align-items: center;
}

html{overflow: hidden;}

body{
    margin: 0px;
    overflow: auto;
}
span{
    margin: auto;
}
ul {
    list-style: none;
}
/* blurred background */
img.background {
    width:100%;
    height:100%;
    background-color: black;
    z-index:-1;

    filter:blur(10px);

    position:fixed;
    left:0;
    right:0;
    }
/* background */
div#root div.publicPhoneWrapper img {
    margin: auto;
    object-fit:cover;
    height:100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: grey;
    opacity: 70%;
    position: absolute;
    left:10vw;
    top:20vh;
    width:80vw;
    height:60vh;
    place-items: center;
    border-radius: 1.5em;
    }

#typedtext{
    margin: 0;
}
    
/* .typing-demo {
    width: 18ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    padding: 10px;
} */
    
.fade-in-box {
    display: inline-block;
    padding: 10px;
    animation: fadein 8s;
    -moz-animation: fadein 8s; /* Firefox */
    -webkit-animation: fadein 8s; /* Safari and Chrome */
    -o-animation: fadein 8s; /* Opera */
}
    
@keyframes typing {
from {
    width: 0
    }      
}
    
@keyframes blink {
50% {
    border-color: transparent
}
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}